


   <div id="videos">
    <video #user_1 class="video-player" id="user-1" autoplay playsinline></video>
    <video #user_2 class="video-player" id="user-2" autoplay playsinline></video>
</div>

<div id="controls">

    <div #camera_btn (click)="toggleCamera()" class="control-container" id="camera-btn">
        <h6>camera</h6>
    </div>

    <div #mic_btn (click)="toggleMic()"  class="control-container" id="mic-btn">
        <h6>mic</h6>
    </div>

    <a href="lobby.html">
        <div #leave_btn (click)="leaveChannel()" class="control-container" id="leave-btn">
            <h6>Leave</h6>
        </div>
    </a>

</div>


